if !testing
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "#{siteTitle}",
      "url": "#{siteURL}",
      "sameAs": "#{fPlusURL}",
      "image": "#{siteURL}/img/og-square.jpg",
      "description": "#{description}",
      "inLanguage": "English",
      "author": [
        {
          "@type": "Person",
          "name": "Lemon",
          "url": "http://ahoylemon.xyz",
          "sameAs": [
            "https://thefpl.us/meet/lemon",
            "https://twitter.com/AhoyLemon"
          ]
        },
        {
          "@type": "Person",
          "name": "Sanguinary Novel",
          "url": "http://glitchpress.com/",
          "sameAs": [
            "https://twitter.com/AberrantWhimsy"
          ]
        },
        {
          "@type": "Person",
          "name": "Boots Raingear",
          "url": "https://thefpl.us/meet/boots-raingear",
          "sameAs": [
            "https://twitter.com/BootsRaingear"
          ]
        }
      ],
      "publisher": {
        "@type": "PerformingGroup",
        "name": "The F Plus",
        "url": "https://thefpl.us"
      }
    }